body {
  margin: 0;
  font-family: "Fredoka One", 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.disc-card-content  {
  font-family: "Fredoka One", 'Helvetica Neue';
 
}
.disc-card button{
  font-family: "Fredoka One", 'Helvetica Neue';
}
.disc-card h2{
  font-family: "Fredoka One", 'Helvetica Neue';
}
.disc-card h3{
  font-family: "Fredoka One", 'Helvetica Neue';
}
.disc-card p{
  font-family: "Fredoka One", 'Helvetica Neue';
}


