body,
html {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
    height: 100%;
    background-color: antiquewhite;
    /* background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black; */
  }

  .disc-card {
    background-color: #7ECBCF;
  }