body,
html {
  margin: 0;
  height: 100%;
  font-family: "Fredoka One", 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fdf5df;
}
#root {
    height: 100%;
    background-color: #fdf5df;
    display: flex;
    font-family: "Fredoka One", 'Helvetica Neue';
    flex-direction: column;
    justify-content: space-between;
    font-family: "Fredoka One";
  }
